/* Theme Toggle Styles */
.toggleWrapper {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleWrapper .input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 32px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 12px;
  left: 6px;
  width: 3px;
  height: 3px;
}

.toggle__handler .crater--2 {
  top: 18px;
  left: 14px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--3 {
  top: 6px;
  left: 16px;
  width: 5px;
  height: 5px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 6px;
  left: 24px;
  z-index: 0;
  width: 20px;
  height: 2px;
}

.star--2 {
  top: 12px;
  left: 18px;
  z-index: 1;
  width: 20px;
  height: 2px;
}

.star--3 {
  top: 18px;
  left: 26px;
  z-index: 0;
  width: 20px;
  height: 2px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 10px;
  left: 7px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 20px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 24px;
  left: 18px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.input:checked + .toggle {
  background-color: #749dd6;
}

.input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(28px, 0, 0) rotate(0);
}

.input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

.input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

.input:checked + .toggle .star--2 {
  width: 3px;
  height: 3px;
  transform: translate3d(-3px, 0, 0);
}

.input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-5px, 0, 0);
}

.input:checked + .toggle .star--4,
.input:checked + .toggle .star--5,
.input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
